*{
    margin: 0;
    padding: 0;
}
#background { 
    overflow: hidden;
    width:100vw;
    height:100vh;
    background-color:black;
    z-index: -1;
    position: fixed;
    top: 0;
 }

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    line-height: 1.6;
   /* background-image: url(/assets/img01.jpg);
    background-attachment: fixed;*/
}

header,
main,
footer {
    max-width: 1024px;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: blanchedalmond;
}

.container_info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.avatar {
    
}

.avatar_img {
    border-radius: 50%;
    width: 450px;
    height: 500px;
    border: solid 4px #0008ff;
}

.contacts {
    
    font-size: 25px;
}

.contacts_list {
    list-style-type: none;
}
.contact_link {
    text-decoration: none;
    color:#f57900;
    background-color: black;
}
.summary,
.skills,
.example_code,
.english,
.education {
    margin-top: 20px;
}

.summary {
    color:yellow;
    
}

.summary_title,
.summary_description {
    background-color: black;
    width: fit-content;
}

.skills {
    color:#ffa358;

}

.skills_title {
    background-color: black;
}
.skills_list_item {
    background-color: black;
    width: fit-content;
}

.skills_list_legend {
    background-color: black;
}

.code_example_title,
.code_example_code {
    background-color:black;
    width: fit-content;
    color:#e686ff;
}